<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="html, css, python" />
    <meta name="description" content="Pagina para explorar los elementos de html y un poco de css" />
    <meta name="author" content="https://github.com/Juanklg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="">
    <title>Explora Html5</title>
    <style>
        h3 {
            color: aqua;
        }

        .pruebaClass {
            background-color: blueviolet;
            max-width: 200px;
        }

        #miparrafo {
            max-width: 500px;
        }
    </style>
</head>

<body>
    <div>
        <h1>Explorando Html5</h1>
        <p class='pruebaClass' id='miparrafo'>Parrafo basico y input de texto</p>
        <input type="text" placeholder="Digite aca su nombre">
        <h2>Input Numerico</h2>
        <input type="number">
        <h3>Input Contraseña</h3>
        <input type="password">
        <h4>Parrafo</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque veniam earum veritatis iure pariatur expedita
            harum incidunt nemo repudiandae nobis exercitationem quod iste quam, numquam atque eum vero totam et.</p>
        <div style="max-width: 500px;">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic numquam atque aut officiis, est minus
                expedita quia incidunt et ex cum dolore totam ut. Aspernatur, nesciunt sunt? Quia magni praesentium odio
                nobis velit perferendis. Praesentium culpa quam pariatur. Nulla, debitis hic! Quibusdam, amet illo
                accusantium ut autem exercitationem tempora, assumenda magni pariatur eum similique, in rerum eos
                cupiditate. Velit inventore beatae quas quis recusandae! Dolores, animi eaque. A, quos dignissimos qui
                omnis quisquam enim commodi repudiandae corrupti. Deleniti, id? Neque dignissimos deserunt voluptatum
                soluta quae facere tenetur itaque placeat quas a quisquam accusamus consectetur maxime, nesciunt
                voluptate, ut quo possimus unde natus provident blanditiis rem numquam. Accusantium veniam culpa
                praesentium maxime voluptatibus quaerat natus suscipit, explicabo laboriosam saepe ea, dolores adipisci
                nulla corporis cumque totam in, animi consequatur incidunt nesciunt id! Non eos id explicabo sit iste
                voluptatem saepe vero corrupti nemo ea? Iure, dicta. Reprehenderit voluptatibus accusantium aspernatur
                cumque illo! Voluptates ullam voluptas recusandae eveniet facilis possimus optio libero, quia quis
                natus, incidunt numquam porro, veritatis atque dolor. Atque repudiandae cumque deserunt in voluptate
                aperiam iste possimus molestias odio necessitatibus optio sapiente mollitia exercitationem cupiditate
                voluptas ex, vel minima. Magnam dolore possimus, illum nesciunt optio mollitia iusto voluptatem dolorum?
            </p>
        </div>
    </div>
</body>

</html>