<!DOCTYPE html>
<html>

<head>
    <title>Grupo 61</title>
</head>

<body>
    <h2>Paginas App</h2>
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="proy">Proyecto</a></li>
        <li><a href="doc">Documentacion</a></li>
        
    </ul>
    <h2>Paginas Ayuda</h2>
    <ol>
        <li>w3schools</li>
        <li>HTML Tags</li>
    </ol>

    <a href="https://www.w3schools.com/html/" target="_blank">Pagina para aprender y usar HTML</a>

    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
    <p>This is a paragraph.</p>
    <a href="http://localhost:5000">Pagina principal</a>
</body>

</html>