{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/Articulo.css">
{% endblock %}

{% block main %}
<section class="addArticulo">
    <form action="/articulo/add" method="get">
        <!-- nombre -->
        <label>Agrege nombre del producto:
            <input type="text" maxlength="30" name="nombre" required></label>
        <!-- seccion -->
        <label>Agrege seccion del producto:
            <!-- <select name="seccion"> -->
            {# for sec in seccion #}
            <!-- <option value="{{sec.nombre}}">{{sec.nombre}}</option> -->
            {# endfor #}
            <!-- </select> -->
            <!-- <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div> -->
            <input list="secciones" name="seccion" maxlength="30" required>
            <datalist id="secciones">
                {% for sec in seccion %}
                <option value="{{sec.nombre|upper}}">
                    {% endfor %}
            </datalist>
        </label>
        <!-- precio -->
        <label>Agrege precio del producto:
            <input type="number" name="precio" required></label>
        <input type="submit" value="Agregar">
    </form>
</section>

{% if articulo %}
<section class="readArticulo">
    {% for art in articulo %}
    <div class="card border-dark mb-3">
        <div class="card-header">{{art.nombre}}</div>
        <div class="card-body">
            <h4 class="card-title">$ {{art.precio}}</h4>
            <p class="card-text">{{art.seccion}}</p>
        </div>
    </div>
    {% endfor %}
</section>
{% endif %}

{% endblock %}