<header>
  <h1>{{header}}</h1>
  <h4>{{fecha}}</h2>
</header>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Workbook</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link active" href="/">
            <svg class="bi" width="20" height="20">
              <use xlink:href="/static/img/header.svg#home" />
            </svg>
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item"><a class="nav-link" href="/tasklist">Tareas</a></li>
        <li class="nav-item"><a class="nav-link" href="/videos">Videos</a></li>
        <li class="nav-item"><a class="nav-link" href="/calculo/1989/2051/">Calculos</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Modelos</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/gestor/articulos">articulos</a>
            <a class="dropdown-item" href="/gestor/clientes">clientes</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Othres</a>
          </div>
        </li>
      </ul>
      <a class="nav-link" href="{% url 'logout' %}">
        <svg class="bi" width="20" height="20">
          <use xlink:href="/static/img/header.svg#logout" />
        </svg>
      </a>
      {% if model %}
      <form class="d-flex" action="/gestor/{{model}}">
        <input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
      {% endif %}
    </div>
  </div>
</nav>